<!DOCTYPE html>
<html> 
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
	<title>JOHN Restaurant</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='register_html.css') }}">
</head>
<body>
<div class="textstyle1">
<div id="container_45e06dfd"><div class="textstyle2"><div id="container_1e1f61ba"><div id="container_1e1f61ba_padding" ><div class="textstyle1"><img src="{{ url_for('static', filename='images/logo.svg') }}" width="1276" height="571" id="img_145e5370" alt="" title="" /></div>
<div style="clear:both"></div></div></div><span class="textstyle3"><br/></span></div>
<div class="textstyle1"><div id="container_77609974"><div class="textstyle2"><div id="container_67580ade"><div id="container_67580ade_padding" ><div class="textstyle1"><div id="menu_44d6dac2"><div  id="menu_44d6dac2_menualignmentwrapper" ><div  class="menuholder1"><a href="javascript:void(0);">
	<div id="menuentry_381f6284"  class="menustyle1 menu_44d6dac2_mainMenuEntry mobileEntry">
		<div class="menuentry_text1">
  <span class="textstyle4">IZV&#274;LNE &#9660;</span>
		</div>
	</div>
</a>
<a href="{{ url_for('index') }}" style="text-decoration:none">
	<div id="menuentry_1f6d20b"  class="menustyle2 menu_44d6dac2_mainMenuEntry normalEntry">
		<div class="menuentry_text1">
  <span class="textstyle4">GALVEN&#256;</span>
		</div>
	</div>
</a>
<a href="{{ url_for('index') }}#menu" style="text-decoration:none">
	<div id="menuentry_56608bef"  class="menustyle3 menu_44d6dac2_mainMenuEntry normalEntry">
		<div class="menuentry_text1">
  <span class="textstyle4">&#274;DIENKARTE</span>
		</div>
	</div>
</a>
<a href="{{ url_for('contact') }}" style="text-decoration:none">
	<div id="menuentry_4adf4dc6"  class="menustyle4 menu_44d6dac2_mainMenuEntry normalEntry">
		<div class="menuentry_text1">
  <span class="textstyle4">KONTAKTI</span>
		</div>
	</div>
</a>
{% if 'username' in session %}
<a href="{{ url_for('profile') }}" style="text-decoration:none">
	<div id="menuentry_3939834e"  class="menustyle5 menu_44d6dac2_mainMenuEntry normalEntry">
		<div class="menuentry_text1">
  <span class="textstyle4">PROFILS</span>
		</div>
	</div>
</a>
<a href="{{ url_for('logout') }}" style="text-decoration:none">
	<div id="menuentry_159fd2c4"  class="menustyle6 menu_44d6dac2_mainMenuEntry normalEntry">
		<div class="menuentry_text1">
  <span class="textstyle4">IZRAKSTĪTIES</span>
		</div>
	</div>
</a>
{% else %}
<a href="{{ url_for('login') }}#menu" style="text-decoration:none">
	<div id="menuentry_3939834e"  class="menustyle5 menu_44d6dac2_mainMenuEntry normalEntry">
		<div class="menuentry_text1">
  <span class="textstyle4">PIESLĒGTIES</span>
		</div>
	</div>
</a>
<a href="javascript:void(0);" style="text-decoration:none">
	<div id="menuentry_159fd2c4"  class="menustyle6 menu_44d6dac2_mainMenuEntry normalEntry">
		<div class="menuentry_text1">
  <span class="textstyle4">REĢISTRĒTIES</span>
		</div>
	</div>
</a>
{% endif %}

	<script type="text/javascript" src="{{ url_for('static', filename='wsp_menu.js') }}"></script>
	<script type="text/javascript">
		var js_menu_44d6dac2= new wsp_menu('menu_44d6dac2', 'menu_44d6dac2', 10, null, true);

        {% if 'username' in session %}
        js_menu_44d6dac2.createMenuForItem('menuentry_381f6284', [
            "<span class=\"textstyle4\">GALVENĀ</span>", "{{ url_for('index') }}", '',
            "<span class=\"textstyle4\">ĒDIENKARTE</span>", "{{ url_for('index') }}#menu", '',
            "<span class=\"textstyle4\">KONTAKTI</span>", "{{ url_for('contact') }}", '',
            "<span class=\"textstyle4\">PROFILS</span>", "{{ url_for('profile') }}", '',
            "<span class=\"textstyle4\">IZRAKSTĪTIES</span>", "{{ url_for('logout') }}"
        ]);
        {% else %}
        js_menu_44d6dac2.createMenuForItem('menuentry_381f6284', [
            "<span class=\"textstyle4\">GALVENĀ</span>", "{{ url_for('index') }}", '',
            "<span class=\"textstyle4\">ĒDIENKARTE</span>", "{{ url_for('index') }}#menu", '',
            "<span class=\"textstyle4\">KONTAKTI</span>", "{{ url_for('contact') }}", '',
            "<span class=\"textstyle4\">PIESLĒGTIES</span>", "{{ url_for('login') }}#menu", '',
            "<span class=\"textstyle4\">REĢISTRĒTIES</span>", "javascript:void(0);"
            ]);
        {% endif %}

		js_menu_44d6dac2.createMenuForItem('menuentry_1f6d20b', []);
		js_menu_44d6dac2.createMenuForItem('menuentry_56608bef', []);
		js_menu_44d6dac2.createMenuForItem('menuentry_4adf4dc6', []);
		js_menu_44d6dac2.createMenuForItem('menuentry_3939834e', []);
		js_menu_44d6dac2.createMenuForItem('menuentry_159fd2c4', []);

	</script>
</div></div></div></div>
<div style="clear:both"></div></div></div></div>
</div><div id="container_30cbec7a"><div id="container_30cbec7a_padding" ><div class="textstyle1">  <span class="textstyle5"><br/></span>
<div id="anchor_4a4b29ab"><a name="menu"></a></div>
<span class="textstyle6"><br/></span><span class="textstyle7">Re&#291;istr&#275;ties </span></div>
<div style="clear:both"></div></div></div><div id="container_63e95b3a"><div id="container_63e95b3a_padding" ><div class="textstyle2">
    {% if message %}
    <div id="error-msg">
        <div id="error-msg_padding" >
            <div class="textstyle1">  
                <span class="textstyle8">{{ message }}</span>
            </div>
        </div>
    </div>
{% endif %}
</div>
<div class="textstyle1"><span class="textstyle3"><br/></span><form  action="{{ url_for('register') }}"
method="POST" enctype="multipart/form-data" id="form_4c63728e"><div id="form_4c63728e_padding" ><div class="textstyle2"><input type="text" value="" title="" name="username"  placeholder="Lietot&#257;jv&#257;rds" required="required"  id="edit_2fd91754" >
<span class="textstyle3"><br/><br/></span><input type="password" value="" title="" name="password"  placeholder="Parole" required="required"  id="edit_5e11d928" >
<span class="textstyle3"><br/><br/></span><input type="text" value="" title="" name="first_name"  placeholder="V&#257;rds" required="required"  id="edit_c31bbfd" >
<span class="textstyle3"><br/><br/></span><input type="text" value="" title="" name="last_name"  placeholder="Uzv&#257;rds" required="required"  id="edit_5c87a008" >
<span class="textstyle3"><br/><br/></span><input type="email" value="" title="" name="email"  placeholder="E-pasts" required="required"  id="edit_1c6e0b8e" >
<span class="textstyle3"><br/><br/>Profila bilde (JPG, PNG, Max: 2MB) (Nav obligāts):<br/></span><input type="file" value="" title="" name="photo"  id="edit_50cd841" />
<span class="textstyle3"><br/><br/></span><input name="register" type="submit" value="Re&#291;istr&#275;ties" title=""  id="button_7d6e0e94" >
</div>
<div class="textstyle1"><span class="textstyle3"><br/><br/></span><span class="textstyle9">Jau ir konts?</span><span class="textstyle3"> </span><span class="textstyle3"><a href="{{ url_for('login') }}#menu" class="wsp79b3ee92">Piesl&#275;gties</a></span></div>
<div style="clear:both"></div></div></form></div>
<div style="clear:both"></div></div></div><div id="container_6bdbc14d"><div class="textstyle1"><div id="container_6f4409d4"><div id="container_6f4409d4_padding" ><div class="textstyle1"><div id="container_b709adc"><div id="container_b709adc_padding" ><div class="textstyle2"><span class="textstyle10">Kontakti</span><span class="textstyle11"><br/><br/>&#9743; +371-62-222-260<br/>&#128204;Ausek&#316;a iela 22, R&#299;ga, LV-1010<br/>&#9201; Pr - Se 8.00 - 18.00 Sv SL&#274;GTS</span></div>
</div></div><div id="container_124f33ff"><div id="container_124f33ff_padding" ><div class="textstyle2"><span class="textstyle10">Darba Laiks</span><span class="textstyle11"><br/><br/>9:00 - 22:00 Pirmdiena <br/>9:00 - 22:00 Otrdiena <br/>9:00 - 22:00 Tre&#353;diena <br/>9:00 - 22:00 Ceturtdiena<br/> 9:00 - 22:00 Piektdiena <br/>9:00 - 22:00 Sestdiena <br/>sl&#275;gts: Sv&#275;tdiena</span></div>
</div></div><div id="container_2424bc03"><div id="container_2424bc03_padding" ><div class="textstyle2"><span class="textstyle10">Atra&#353;an&#257;s vieta</span><span class="textstyle11"><br/><br/>M&#275;s atrodamies <br/><br/>Ausek&#316;a iela 22, <br/>R&#299;ga, LV-1010</span></div>
</div></div></div>
<div style="clear:both"></div></div></div></div>
<div class="textstyle12"><span class="textstyle13"><br/><br/></span></div>
</div></div>
</div>  </div>
</body>
</html>